<h1 class="mainTitle">To-Do list</h1>

<section class="newTask">
    <div class="newTask__input">
      <input id="input" type="text" name="Add New Task" placeholder="Add New Task" [(ngModel)]="dataTask">
      <button class="input__centerButton" (click)="addNewTask()"><i class="fa-solid fa-plus fa-2x"></i></button>
    </div>
    <p class="showError" *ngIf="showError">{{errorMessage}}</p>

    <div class="newTask__inputSearchTask">
      <input id="input" type="text" name="Search" placeholder="Search..." [(ngModel)]="searchValue" (ngModelChange)="emptySearch()">
      <button class="input__centerButton black" (click)="search()"><i class="fas fa-search"></i></button>
    </div>
</section>

<h3 class="addedItemsText">Added Items:</h3>

<section class="addedTasks">
  <div class="addedTask__itemsRequired" *ngIf="itemsRequired">
    <i class="fa-solid fa-rocket"></i>
    <h2 class="itemsRequired__addAFewTaskText">add a few tasks</h2>
  </div>

    <div class="addedTasks__taskItem" *ngFor="let task of fiteredTask; let i = index">
      <input type="checkbox" id="taskItem__checkbox" [(ngModel)]=" task.checked">
      
      <p class="taskAdded" *ngIf="!task.edit" >{{ task.name }}</p>
      <input type="text" class="taskItem__edit" *ngIf="task.edit" [(ngModel)]="task.editInput" >
  
      <button class="taskItem__editButton" (click)="editTask(i)" *ngIf="!task.edit">
        <i class="fa-solid fa-pencil"></i>
      </button>
      <button class="taskItem__editingButton" (click)="saveEditTask(i)" *ngIf="task.edit">
        <i class="fa-solid fa-pencil b"></i>
      </button>

      <button class="taskItem__deleteButton" (click)="deleteTask(i)">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
</section>

<section class="taskOptions">
  <div class="taskOptions__orderBy">
    <select name="orderSelect" id="orderBy__select" [(ngModel)]="setOrder" (ngModelChange)="orderPriority(setOrder === 0 ? 'asc' : 'desc')">
      <option value="" [ngValue]="3">Order By:</option>
      <option value="oldest" [ngValue]="0">Oldest to Newest</option>
      <option value="newest" [ngValue]="1" >Newest to Oldest</option>
    </select>
  </div>

  <button class="taskOptions__clearCheckedButton" (click)="deleteCheckedTasks()">
    clear checked task
    <i class="fa-solid fa-trash"></i>
  </button>
</section>



